/* MAIN LAYOUT */
.home {
  width: 80%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  gap: 60px;
  position: relative;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

/* RIGHT SIDE */
.home-right h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  color: white;
}

.home-right h1 span {
  color: #00a6ff;
}

/* PARAGRAPH */
.home-text {
  font-size: 18px;
  line-height: 1.7;
  color: #ccc;
  margin-bottom: 30px;
}

/* BUTTON */
.home-btn {
  padding: 12px 28px;
  background: #007bff;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.home-btn:hover {
  background: #005fcc;
}

/* LEFT SIDE */
.home-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE WRAPPER */
.image-border {
  padding: 12px;
  border-radius: 50%;
  border: 4px solid #00a6ff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 20px rgba(0, 219, 253, 0.9),
    0 0 50px rgba(0, 219, 253, 0.6),
    0 0 100px rgba(0, 219, 253, 0.4);
  transition: 0.4s ease;
}

.image-border:hover {
  transform: scale(1.05);
}

/* RESPONSIVE IMAGE */
.home-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  max-width: 480px;
}

/* Laptop */
@media (max-width: 1200px) {
  .home-img {
    max-width: 600px;
    min-width: none;
  }
}

/* Tablet */
@media (max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
  }

  .home-img {
    max-width: 350px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .home-img {
    max-width: 300px;
    min-width: 220px;
  }

  .home-right h1 {
    font-size: 34px;
    text-align: center;
  }

  .home-text {
    font-size: 16px;
    text-align: center;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .home-img {
    max-width: 240px;
    min-width: 180px;
  }
}

.whatsapp-btn {
  margin-left: 12px;
  background: #25D366;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}



.wa-icon {
  font-size: 20px;
}

.home-btns {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.home-btn {
  padding: 12px 24px;
  background: #00c853;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.home-btn:hover {
  background: #097c39;
}

.call-btn {
  background: #00a6ff; /* green call button */
}

.call-btn:hover {
  background: #0470aa;
}

.btn-icon {
  font-size: 20px;
}
