 /* MAIN NAVBAR */
.navbar {
  width: 100%;
  height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: transparent;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: bold;
  display: flex;
}

.logo .p1 { color: #ffffff; }
.logo .p2 { color: #00aaff; }
.logo .p3 { color: #00aaff; }

/* CENTER MENU */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li button {
  font-size: 17px;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li button:hover {
  color: #00aaff;
}

/* RIGHT CORNER BUTTON */
.btn-quote {
  position: absolute;
  right: 40px;
  background: #007bff;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.btn-quote:hover {
  background: #005fcc;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: wheat;
  border-radius: 3px;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    left: auto;
    transform: translateX(100%);
    width: 220px;
    background: #111;
    flex-direction: column;
    padding: 20px 25px;
    gap: 20px;
    transition: 0.3s ease;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .btn-quote { display: none; }
  .hamburger { display: flex; }
}

/* NAVBAR SCROLLED */
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 170, 255, 0.4);
}

.navbar.scrolled .nav-links li button {
  color: #fff;
}

.navbar.scrolled .nav-links li button:hover {
  color: #00aaff;
}

.navbar.scrolled .logo .p1 { color: #ffffff; }
.navbar.scrolled .logo .p2 { color: #00aaff; }

.navbar.scrolled .hamburger span {
  background: #fff;
}

.navbar.scrolled .btn-quote {
  background: #00aaff;
}
